<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# <h> My Jupyter Notebook on IBM Watson Studio </h>

<b> Ali
    <br>
    <b> student

<i>I am interested in data science because

<h3> will print odd number between 0 and 10

In [1]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

<ul>
    <li>one 
         <li>two
              <li>three
                   <li>four


</ul>

| Data Science Tools |
| --- | 
| Jupyter |
|pycharm|
| Anaconda|

<h3> Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:

(3*4)+5

17

In [ ]:
 # This will convert 200 minutes to hours by diving by 60
    
h=200/60

h

<b> Objectives:</b>
<h5> popular data science libraries <h5>
    
<ul>
        <li> Pandas </li>
        <li>Numpy</li>
        <li>Seaborn</li>
        <li>matplotlib</li>
        <li>sklearn</li>
 </ul>

<h3>Author</h3>
<b> Ali Humadi